[user]
	name = Ko-Chih Wu
	email = mecca831@gmail.com
[color]
	ui = true
[log]
	date = local
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
    pr = "!f() { git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1; }; f"
[core]
	excludesfile = /Users/kcwu/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
